.container {
    border: 1px solid red;
}

.wrapperHero {
    border: 5px solid #fed602;
    border-radius: 5px;
}

.ratingStars {
    font-size: 1.5em;
}

.star {
    cursor: pointer;
    color: #070a00;
}
.filled {
    color: #fed602;
}
